<template>
	<div id="app">
		<section class="hero is-primary">
			<div class="hero-body">
				<div class="container">
				<h1 class="title">
					Телефонная книга
				</h1>
				<h2 class="subtitle">
					Phone book
				</h2>
				</div>
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="columns is-desktop">
					<div class="column">
						<b-field>
							<b-autocomplete
								v-model="name"
								:data="data"
								placeholder="Поиск по имени"
								field="title"
								icon="search"
								:loading="isFetching"
								@input="getAsyncData"
								@select="option => selected = option">

								<template slot-scope="props">
									<div class="search-item" @click="read(props.option.id)">
										<p>{{ props.option.name }}</p>
										<small>
											{{ props.option.telephone }}, {{ props.option.email }}
										</small>
									</div>
								</template>
							</b-autocomplete>
						</b-field>
					</div>
					<div class="column is-narrow">
						<button class="button is-success" @click="create()"><b-icon icon="user-plus" /><span>Добавить контакт</span></button>
					</div>
				</div>
			</div>
			<div class="container list">
				<table class="table is-striped is-narrow is-hoverable is-fullwidth">
					<tbody>
						<tr v-for="item in list" :key="item.id">
							<td class="contact-icon">
								<b-icon icon="user" />
							</td>
							<td class="contact-name">
								{{ item.name }}
							</td>
							<td class="tel is-hidden-mobile">
								+{{ item.telephone }}
							</td>
							<td class="contact-controls">
								<div class="field has-addons is-pulled-right">
									<p class="control">
										<a class="button" :href="'tel:+'+item.telephone"><b-icon icon="phone" /></a>
									</p>
									<p class="control">
										<a class="button" @click="read(item.id)"><b-icon icon="address-card" /></a>
									</p>
									<p class="control">
										<b-dropdown position="is-bottom-left">
											<button class="button is-primary" slot="trigger">
												<b-icon icon="caret-down"></b-icon>
											</button>

											<b-dropdown-item @click="update(item.id)">Редактировать</b-dropdown-item>
											<b-dropdown-item @click.native="deleteIt(item.id)">Удалить</b-dropdown-item>
										</b-dropdown>
									</p>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="notification has-text-centered">
					Это тестовое задание, по всем вопросам <a href="mailto:mail@vatius.ru">mail@vatius.ru</a>
				</div>
			</div>
		</section>
	</div>
</template>

<style lang="scss">
	// Import Bulma and Buefy styles
	@import "~bulma";
	@import "~buefy/src/scss/buefy";

	.list {
		padding: 32px 0;
		.contact-icon {
			color: #cccccc;
			font-size: 2rem;
			width: 64px;
		}
		.contact-name {
			font-size: 1.1rem;
			font-weight: bold;
		}
	}

	.search-item {
		p {
			font-weight: bold;
			font-size: 1.2rem;
		}
		small {
			color: #585858;
		}
	}
</style>


<script>
import debounce from 'lodash/debounce'
import { HTTP } from './http-common.js'
import Create from './components/Create'
import Read from './components/Read'
import Update from './components/Update'

export default {
	name: 'app',
	data() {
		return {
			list: [],
			data: [],
			name: '',
			selected: null,
			isFetching: false
		}
	},
	methods: {
		getAsyncData: debounce(function () {
			this.data = []
			this.isFetching = true
			HTTP.post('/contacts/search', {
				name: this.name
			})
				.then((res) => {
					if (res.data) {
						this.data = res.data
					}
					this.isFetching = false
				})
				.catch((error) => {
					this.isFetching = false
					throw error
				})
		}, 500),
		deleteIt (id) {
			this.$dialog.confirm({
				title: 'Удаление',
				message: 'Вы уверены, что хотите <b>удалить</b> контакт ?',
				confirmText: 'Удалить',
				type: 'is-danger',
				hasIcon: true,
				onConfirm: () => {
					HTTP.delete('/contacts/'+id)
						.then(res => {
							if (res.data.status) {
								this.list.splice(this.list.findIndex(e => e.id == id),1);
								this.$toast.open('Контакт удалён')
							}
						})
				}
			})
		},
		create () {
			this.$modal.open({
				parent: this,
				component: Create,
				hasModalCard: true,
				events: {
					saved: data => {
						this.list.push(data)
					}
				}
			})
		},
		read (id) {
			HTTP.get('/contacts/'+id)
				.then(res => {
					this.$modal.open({
						parent: this,
						component: Read,
						hasModalCard: true,
						props: {
							id: res.data.id,
							name: res.data.name,
							telephone: res.data.telephone,
							email: res.data.email
						}
					})
				})
			
		},
		update (id) {
			HTTP.get('/contacts/'+id)
				.then(res => {
					this.$modal.open({
						parent: this,
						component: Update,
						hasModalCard: true,
						props: {
							id: res.data.id,
							name: res.data.name,
							telephone: res.data.telephone,
							email: res.data.email
						},
						events: {
							saved: data => {
								this.list.forEach((element, index)  => {
									if (element.id == data.id) {
										this.list.splice(index, 1, data)
									}
								})
							}
						}
					})
				})
		}
	},
	created () {
		HTTP.get('/contacts')
			.then(res => {
				this.list = res.data
			})
	}
}
</script>