<template>
	<div class="modal-card" style="width: auto">
		<header class="modal-card-head">
			<p class="modal-card-title">Добавление контакта</p>
		</header>
		<section class="modal-card-body">
			<b-field label="Имя">
				<b-input
					type="text"
					v-model="name"
					placeholder="имя..."
					required>
				</b-input>
			</b-field>

			<b-field label="Телефон">
				<div class="field-body">
					<div class="field has-addons">
						<p class="control">
							<button class="button is-static">+</button>
						</p>
						<p class="control is-expanded">
							<b-input
								type="number"
								v-model="telephone"
								placeholder="79991112233"
								required>
							</b-input>
						</p>
					</div>
				</div>
			</b-field>

			<b-field label="Email">
				<b-input
					type="email"
					v-model="email"
					placeholder="email"
					required>
				</b-input>
			</b-field>
		</section>
		<footer class="modal-card-foot">
			<button class="button" type="button" @click="$parent.close()">Закрыть</button>
			<button class="button is-primary" @click="save()">Сохранить</button>
		</footer>
	</div>
</template>

<script>
import { HTTP } from './../http-common.js'

export default {
	name: 'Create',
	data () {
		return {
			name: null,
			email: null,
			telephone: null
		}
	},
	methods: {
		save () {
			if (!this.name || !this.email || !this.telephone) {
				return
			}
			HTTP.post('/contacts', {
				name: this.name,
				email: this.email,
				telephone: Number(this.telephone)
			}).then(res => {
				this.$emit('saved', res.data)
				this.$toast.open('Контакт добавлен')
				this.$parent.close()
			})
		}
	}
}
</script>

