<template>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Контакт</p>
		</header>
		<section class="modal-card-body">
			<div class="columns">
				<div class="column is-1" style="margin: 10px;">
					<b-icon icon="id-card" size="is-large" />
				</div>
				<div class="column is-half">
					<h1 class="title">{{ name }}</h1>
					<p>Телефон: <a :href="'tel:+'+telephone">+{{ telephone }}</a></p>
					<p>Email: <a :href="'mailto:'+email">{{ email }}</a></p>
				</div>
			</div>
		</section>
		<footer class="modal-card-foot">
			<button class="button" type="button" @click="$parent.close()">Закрыть</button>
		</footer>
	</div>
</template>

<script>
export default {
	name: 'Read',
	props: ['id','name','telephone','email']
}
</script>
